
    .root{
      width: '50%';
    }

    .paper {
      margin-top: 5%;
      margin-left: '25%';
      max-width:'70%';
      width: '70%';
      overflow-x: 'auto';
      margin-bottom: 8%;
    }

    .table{
      min-width: 350;
    }

    .tableHead{
        background-color: 'lightblue';
        height: 'auto';
        width: '50%';
    }
  
