.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.select{
  display:inline-block;
  margin-bottom: 5%
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
